<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="">
</head>
<body>
    <header>
        <h1><%= title %></h1>
        <button><a href="/">Posts</a></button>
    </header>
    <hr>
    <main>
        <div>
            <p> <%= content.title %></p>
            <p><%= content.content %></p>      
        </div>
    </main>
</body>
</html>