<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/content.css">
</head>
</head>
<body>
    <header>
        <h1><%= title %></h1>
    </header>
    <main>
        <section>
            <p><%= content.content %></p>      
        </section>
    </main>
</body>
</html>