<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sips And Secrets</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>Sips and Secrets</li>
                <li><a href="/memberForm">Become a member</a></li>
                <li><a href="/profileForm">Sign up</a></li>
                <li><a href="/logIn">Log In</a></li>
                <li><a href="/logOut">Log Out</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>