<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <% if (typeof errors !== "undefined" && errors.length > 0) { %>
        <ul>
          <% errors.forEach(error => { %>
            <li><%= error.msg %></li>
          <% }) %>
        </ul>
    <% } %>
    <form action="/profileForm" method="POST">
        <label for="firstname">First Name</label>
        <input type="text" name="firstname" id="firstname" placeholder="Christen">
        <label for="lastname">Last Name</label>
        <input type="text" name="lastname" id="lastname" placeholder="Alder">
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" placeholder="ChristenAlder@gmail.com">
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
        <label for="confirm">Confirm password</label>
        <input type="password" id="confirm" name="confirm">
        <button type="submit">Sign Up</button>
    </form>
</body>
</html>