<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <form action="/profileForm.ejs" method="POST">
        <label for="firstname">First Name</label>
        <input type="text" name="firstname" id="firstname" value="firstname">
        <label for="lastname">Last Name</label>
        <input type="text" name="lastname" id="lastname" value="lastname">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" value="username">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" value="email">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" value="password">
        <label for="confirm">Confirm password</label>
        <input type="password" id="confirm" name="confirm" value="password">
        <button type="submit">Update</button>
    </form>
</body>
</html>